#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DSTRAYLIGHT_BUILD_DESKTOP_ONLY=ON \
		-DSTRAYLIGHT_VERSION=$(DEB_VERSION_UPSTREAM)

override_dh_auto_build:
	dh_auto_build -- -j$(shell nproc) \
		straylight-compositor straylight-shell \
		straylight-terminal straylight-files straylight-monitor \
		straylight-settings straylight-wizard straylight-oobe \
		straylight-greeter

override_dh_auto_test:
	dh_auto_test -- ARGS="--output-on-failure -L desktop"

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_installsystemd:
	dh_installsystemd --name=straylight-compositor
	dh_installsystemd --name=straylight-greeter
	dh_installsystemd --name=straylight-firstboot
	dh_installsystemd --name=straylight-oobe
